{% extends 'app/base.html' %}
{% load static %}

{%block title%} 
    CV Ver1
{%endblock title%}

{%block vitriTuyenDung%}
    Junior Developer
{%endblock vitriTuyenDung%}

{% block main-content %}
<div class="info text-white">
    <div class="contact d-inline d-flex align-items-center bg-info p-1 ">
        <div class="email d-inline d-flex align-items-center  mx-auto">
            <i class="fa-solid fa-envelope mr-3"></i>
            <p class="mb-0">thanhnd2462245@gmail.com</p>
        </div>
        <div class="phone d-inline d-flex align-items-center mx-auto">
            <i class="fa-solid fa-phone mr-3"></i>
            <p class="mb-0">0862462245</p>
        </div>
        <div class="phone d-inline d-flex align-items-center mx-auto">
            <i class="fa-solid fa-house mr-3"></i>
            <p class="mb-0">60/30 Yên thế, Phường 2, Quận Tân Bình, TP.HCM</p>
        </div>
        <div class="github d-inline d-flex align-items-center mx-auto">
            <i class="fa-brands fa-github mr-3"></i>
            <a href="https://antphb.github.io/WebSite_BanGiay_T3H2/"><p class="mb-0 text-white">T3H2BanGiayFashion</p></a>
        </div>
    </div>
</div>
<div class="ReSume mt-3 ml-4 mr-4">
    <h3><b>RESUME OBJECTIVE</b></h3>
    <hr class="w-25 ml-0 mt-0">
    <p class="mb-0 text-justify">
        Data Scientist with 2 years of experience in data analysis and machine learning.I have a strong background in mathematics and statistics, and i am passionate about using data to solve real-world problems. I am looking for a position where i can apply my skills and knowledge to help the company achieve its goals. I am a quick learner and a team player, and i am always eager to learn new skills and technologies. I am also a strong communicator and i am able to explain complex technical concepts to non-technical audiences. I think that my skills and experience make me a good candidate for this position. I am excited to learn more about the company and the position, and i look forward to hearing from you. Thank you for your time and consideration.
    </p>
</div>
<div class="Skill mt-4 ml-4 mr-4">
    <h3><b>SKILLS</b></h3>
    <hr class="w-25 ml-0 mt-0">
    <div class="d-inline d-flex d-inline-flex align-items-center text-white">
        <div class="Lang bg-info bor-radi mr-3">
            <p class="mb-0 p-2">HTML/ CSS/ Js/ Java/ Python</p>
        </div>
        <div class="CSDL bg-info bor-radi mr-3">
            <p class="mb-0 p-2">MySQL/ SQLite3/ MongoDB/ Json</p>
        </div>
        <div class="leadership bg-info bor-radi mr-3">
            <p class="mb-0 p-2">Leadership</p>
        </div>
        <div class="DataManagement bg-info bor-radi mr-3">
            <p class="mb-0 p-2">Data Management</p>
        </div>
        <div class="DataMining bg-info bor-radi mr-3">
            <p class="mb-0 p-2">Data Mining</p>
        </div>
        <div class="HandlingPressure bg-info bor-radi mr-3">
            <p class="mb-0 p-2">Handling Pressure</p>
        </div>
    </div>
</div>
<div class="Experience mt-4 ml-4 mr-4">
    <h3><b>EXPERIENCE</b></h3>
    <hr class="w-25 ml-0 mt-0">
    <div class="Data-Scientist">
        <h5><b>DATA SCIENTIST</b></h5>
        <h6><i>Microsoft, Tucson, AZ / September 2021 - Present</i></h6>
        <ul>
            <li>Conduct data regression analyses of the relationship betwwen company stock prices and industry trends, achieving a 15% more accurate perdiction of performence than previous years</li>
            <li>Utlilize web scrapong techniques to extract and organize compertitor data</li>
            <li>Update company data warehousing techniques such as data recall and segmentation, resulting in a 20% increase in usability for non-technical staff members</li>
            <li>Modernize data streamlining processes, resulting in a 25% redundancy reduciton</li>
        </ul>
    </div>
</div>
<div class="Education mt-4 ml-4 mr-4 mb-4">
    <h3><b>EDUCATION</b></h3>
    <hr class="w-25 ml-0 mt-0">
    <div class="d-inline d-flex d-inline-flex align-items-center">
        <div>
            <p class="mt-0 mb-0 font-weight-bold">Kỹ Sư Khoa Học Máy Tính</p>
            <p class="mt-0 mb-0 ">Đại Học Công Nghiệp TPHCM / 2024</p>
        </div>
        <div class="ml-5">
            <p class="mt-0 mb-0 font-weight-bold">MICROSOFT CERTIFIED SOLUTIONS EXPERT</p>
            <p class="mt-0 mb-0 ">2023</p>
        </div>
    </div>
</div>
<div class="footer">
    <div class="contact d-inline d-flex align-items-center bg-info p-3"></div>
</div>
{% endblock main-content %}